.List {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 43px 57px 1fr;
  position: relative;
  height: 100%;
}

.OptionsBar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 16px 0 30px;
}

.Option {
  padding: 6px 16px 6px 18px;
  cursor: pointer;
  border-radius: 32px;
  transition: all 100ms linear;
}

.Option:hover {
  background:  hsla(0, 0%, 90%, 0.4);
}

.Option + .Option {
  margin-left: 16px;
}

.OptionText {
  font-size: 13px;
  font-weight: bold;
  color: hsl(200, 100%, 40%);
}

.OptionText:after {
  content: "*";
  margin-left: 1px;
}

.List header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
}

.List h2 {
  display: inline-block;
  position: relative;
  left: -1px;
  margin: 17px 30px 4px 30px;
  padding: 10px 31px;
  background: hsl(198, 46%, 23%);
  color: #fff;
  border-radius: 32px;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

.Empty {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.Empty form {
  width: 100%;
  text-align: center;
}

.Empty input {
  display: inline-block;
  padding: 0 16px;
  width: 90%;
  height: 54px;
  font-size: 1.3rem;
}

.Empty input::placeholder {
  color: hsl(0, 0%, 65%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.NoteJustCreatedFromEmpty {
  animation: fadeIn 400ms ease-out;
}

.ListContent {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}