@value pageLayoutPaddingHeight: 120px;
@value headingBarHeight: 40px;
@value paddingHeight: 40px;
@value filterHeight: 45px;
@value SideNavHeight: calc(100vh - pageLayoutPaddingHeight - headingBarHeight);
@value ContentHeight: calc(SideNavHeight - paddingHeight - filterHeight);

.SideNav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-height: SideNavHeight;
  overflow-y: hidden;
  padding: calc(paddingHeight / 2) 0;
  background: hsla(0, 0%, 99%, 1);
  border-right: 1px solid hsl(0, 0%, 59%);
  border-radius: 0 0 0 3px;
}

.Content {
  max-height: ContentHeight;
  overflow-y: auto;
}

.Content::-webkit-scrollbar {
  width: 3px;
}

.Content::-webkit-scrollbar-track {
  background: none;
}

.Content::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 25%);
}

.FilterField {
  margin-bottom: 15px;
  padding: 0 26px;
}

.FilterInput {
  width: 100%;
  height: 30px;
  padding: 0 8px;
  background: #fff;
  font-size: 12px;
  outline: none;
}

.Item {
  display: flex;
  align-items: center;
  height: 36px;
  max-height: 36px;
  padding: 0 26px;
  cursor: pointer;
  white-space: nowrap;
}

.Item:hover {
  background: hsla(0, 0%, 90%, 0.4);
}

.Item:hover:before {
  background: hsla(0, 0%, 55%, 0.7);
}

.Item.isActive:before {
  width: 32px;
  min-width: 32px;
  background: hsla(0, 0%, 82%, 0.8);
  background-image: linear-gradient(to right, hsla(-38, 93%, 66%, 0.4), hsla(-38, 93%, 66%, 0.8));
  transform: none;
}

.isFilterActive .Item.isActive:before {
  width: 16px;
  min-width: 16px;
  background-image: none;
  transition: none;
}

.isFilterActive .Item.isActive a {
  font-weight: normal;
  color: hsl(0, 0%, 16%);
}

.Item:before {
  content: "";
  position: relative;
  display: inline-block;
  top: -1px;
  width: 16px;
  min-width: 16px;
  height: 9px;
  margin-right: 7px;
  background: hsla(0, 0%, 82%, 0.8);
  border-radius: 32px;
  transform: rotate(-2deg);
  transition: all 100ms ease-out;
}

.Item a {
  display: block;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: hsl(0, 0%, 16%);
}

.Item.isActive a {
  font-weight: bold;
  color: hsl(0, 0%, 20%);
}

@keyframes ItemBorn {
  from {background: hsla(0, 0%, 85%, 0.8);}
  to {background: none;}
}

.ItemBorn {
  animation: ItemBorn 0.5s linear;
}

@keyframes FadeIn {
  0% {width: 16px; min-width: 16px; opacity: 0;}
  70% {opacity: 0.4;}
  90% {width: 16px; min-width: 16px;}
  100% {width: 32px; min-width: 32px; opacity: 1;}
}

.ItemBorn.isActive:before {
  animation: FadeIn 1.2s linear;
}

.Dot {
  margin: 0 3px;
  color: hsl(0, 0%, 60%);
}

.Length {
  font-family: courier new;
  font-weight: normal;
  color: hsl(0, 0%, 60%);
}

.CreateList {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 0 26px;
  font-size: 12px;
  color: hsl(0, 0%, 16%);
  letter-spacing: 0.2px;
  cursor: pointer;
}

.CreateList:before {
  content: "";
  position: relative;
  display: inline-block;
  top: -1px;
  width: 16px;
  min-width: 16px;
  height: 9px;
  margin-right: 7px;
  background: hsla(0, 0%, 82%, 0.5);
  border-radius: 32px;
  transform: rotate(-37deg);
  transition: all 100ms ease-out;
}

.CreateList:hover {
  background: hsla(0, 0%, 90%, 0.4);
}

.CreateList:hover:before {
  background: hsla(0, 0%, 55%, 0.7);
}

.CreateListText {
  overflow-x: hidden;
}

.CreateNewText {
  margin-left: 4px;
  font-weight: bold;
  color: #000;
}

.CreateNewText:after {
  content: "*";
  margin-left: 1px;
}

.TrashItem {
  /* border-top: 1px solid hsla(0, 0%, 81%, 0.8); */
  /* background: #f0f; */
  /* justify-content: center; */
}

.isFilterActive .TrashItem {
  display: none;
}

.TrashItem a {
  font-weight: bold;
}

.TrashItem a:after {
  content: "*";
  margin-left: 1px;
  /* font-weight: bold; */
}

.TrashItem:before {
  background: hsl(200, 85%, 65%);
  /* background: hsl(24, 93%, 63%); */
  /* transform: rotate(0); */
  /* width: 32px; */
}

.TrashItem:hover:before {
  background: hsl(200, 85%, 65%);
  /* background: hsl(24, 93%, 63%); */
}