.SideNav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 20px 0;
  background: hsla(0, 0%, 99%, 1);
  border-right: 1px solid hsl(0, 0%, 59%);
  border-radius: 0 0 0 3px;
}

.Item {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 20px;
  cursor: pointer;
}

.Item.isActive:before {
  width: 32px;
  background-image: linear-gradient(to right, hsla(-38, 93%, 66%, 0.4), hsla(-38, 93%, 66%, 0.8));
  transform: none;
}

.Item:before {
  content: "";
  position: relative;
  display: inline-block;
  top: -1px;
  width: 16px;
  height: 9px;
  margin-right: 7px;
  background: hsla(0, 0%, 82%, 0.8);
  border-radius: 32px;
  transform: rotate(-2deg);
  transition: all 160ms linear;
}

.Item a {
  font-size: 12px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: hsl(0, 0%, 16%);
}

.Item.isActive a {
  font-weight: bold;
  color: hsl(0, 0%, 20%);
}