.EmptyView {
  display: flex;
  align-items: flex-end;
  height: 43px;
  padding: 0 30px;
  font-style: italic;
}

.TrashView {}

.Header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 43px;
  padding: 0 16px 0 30px;
}

.Header a {
  cursor: pointer;
  display: inline-block;
  height: 28px;
  padding: 6px 16px 6px 18px;
  font-size: 13px;
  font-weight: bold;
  color: hsl(200, 100%, 40%);
  border-radius: 32px;
  transition: background 100ms linear;
}

.Header a:after {
  content: "*";
  margin-left: 1px;
}

.Header a:hover {
  background: hsla(0, 0%, 90%, 0.4);
}

.TrashContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 26px;
  row-gap: 20px;
  padding: 14px 26px 22px;
}

.Entry {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-shadow: 6px 6px hsla(200, 85%, 65%, 0.3);
  color: hsl(0, 0%, 16%);
  font-size: 12px;
  overflow: hidden;
}

.isDeleting {
  opacity: 0;
  transition: all 0.4s linear;
}

.EntryTitle, .EntryInfo {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
}

.EntryTitle span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.EntryInfo {
  position: relative;
  justify-content: space-between;
  background: hsl(0, 0%, 90%);
  border-top: 1px solid #000;
  overflow: hidden;
}

.DeleteEntry {
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.DeleteEntry:hover {
  color: hsla(0, 100%, 60%, 1);
}

div.Modal {
  margin-top: calc(50vh - 300px);
}

.ModalOptions {
  margin-top: 12px;
  text-align: right;
}

.ModalOptions button {
  height: 34px;
  padding: 0 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  transition: background 200ms linear;
}

.ModalOptions button + button {
  margin-left: 16px;
}

.CloseButton {
  background: none;
  color: hsl(0, 0%, 50%);
  background: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 30%);
}

.CloseButton:hover {
  background: hsl(0, 0%, 85%);
}

.DeleteButton {
  min-width: 120px;
  background: hsl(200, 95%, 46%);
  color: hsl(0, 0%, 100%);
  border-radius: 3px;
}

.DeleteButton:hover {
  background: hsl(200, 95%, 56%);
}
