@value entryHeight: 60px;

.TrashView {
}

.Header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 43px;
  padding: 0 16px 0 30px;
}

.Header a {
  cursor: pointer;
  display: inline-block;
  height: 28px;
  padding: 6px 16px 6px 18px;
  font-size: 13px;
  font-weight: bold;
  color: hsl(200, 100%, 40%);
  border-radius: 32px;
  transition: background 100ms linear;
}

.Header a:after {
  content: "*";
  margin-left: 1px;
}

.Header a:hover {
  background: hsla(0, 0%, 90%, 0.4);
}

.TrashContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, entryheight);
  padding: 14px 0;
}

.Col1 { grid-column: 1 / 2; }
.Col2 { grid-column: 2 / 3; }
.Col3 { grid-column: 3 / 4; }

.Entry {
  display: flex;
  align-items: center;
  height: entryHeight;
  min-height: entryHeight;
  max-height: entryHeight;
  padding: 0 26px;
  overflow: hidden;
  font-size: 12px;
}

.EntryContent {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
  color: hsl(0, 0%, 16%);
}

.EntryTitle {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.EntryInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  background: hsl(0, 0%, 90%);
  border-top: 1px solid #000;
}

.DeleteEntry {
  font-family: courier new;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  color: hsl(0, 0%, 14%);
}