.TrashView {}

.Header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 43px;
  padding: 0 16px 0 30px;
}

.Header a {
  cursor: pointer;
  display: inline-block;
  height: 28px;
  padding: 6px 16px 6px 18px;
  font-size: 13px;
  font-weight: bold;
  color: hsl(200, 100%, 40%);
  border-radius: 32px;
  transition: background 100ms linear;
}

.Header a:after {
  content: "*";
  margin-left: 1px;
}

.Header a:hover {
  background: hsla(0, 0%, 90%, 0.4);
}

.TrashContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 26px;
  row-gap: 20px;
  padding: 14px 26px 22px;
}

.Entry {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-shadow: 6px 6px hsla(200, 85%, 65%, 0.3);
  color: hsl(0, 0%, 16%);
  font-size: 12px;
  overflow: hidden;
}

.isDeleting {
  opacity: 0;
  transition: all 0.4s linear;
}

.EntryTitle {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.EntryInfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  background: hsl(0, 0%, 90%);
  border-top: 1px solid #000;
  overflow: hidden;
}

.DeleteEntry {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: -20px;
  right: -6px;
  font-size: 50px;
  font-weight: bold;
  color: hsla(0, 0%, 60%, 0.4);
  transition: all 200ms linear;
}

.DeleteEntry:hover {
  color: hsla(0, 100%, 60%, 0.5);
}
